@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.animation {
  border-right: .1em solid white;
  width: 27.20ch;
  /* margin: 2em 2em; */
  margin: 0 auto;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 5s steps(27, end),
	           blink-caret .5s step-end infinite alternate;
}

@media screen and (max-width: 413px){
  .animation {
    font: bold 134% Consolas, Monaco, monospace;
  }
}

@media screen and (414px <= width < 640px) {
  .animation {
    font: bold 150% Consolas, Monaco, monospace;
  }
}

@media screen and (641px <= width < 768px) {
  .animation {
    font: bold 170% Consolas, Monaco, monospace;
  }
}

@media screen and (768px <= width < 1024px){
  .animation {
    font: bold 200% Consolas, Monaco, monospace;
  }
}

@media screen and (min-width: 1024px){
  .animation {
    font: bold 240% Consolas, Monaco, monospace;
  }
}


/* 
'xs': '412px', //Breakpoint personalizado
sm @media (min-width: 640px) { ... }
md @media (min-width: 768px) { ... }
'mdMiddle': '881px', //Breakpoint personalizado
lg @media (min-width: 1024px) { ... }
xl @media (min-width: 1280px) { ... }
2xl @media (min-width: 1536px) { ... }
*/